@font-face {
  font-family: GABRWFFR;
  src: url("./assets/GABRWFFR.TTF");
  font-weight: 500;
}

@font-face {
  font-family: check;
  src: url("./assets/MavenPro-Medium.ttf");
  font-weight: 500;
}

:root {
  --realyDarkPurple: #6a4e94;
  --darkPurple: #8066a8;
  --lightPurple: #bdacd0;
  --yellow: #e3c12d;
}

.bodyContrainer {
  direction: ltr; 
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(var(--lightPurple), var(--darkPurple));
}

.randomEpisodeButton {
  width: 8vw;
  position: absolute;
  top: 2vh;
  right: 3vw;
  background-color: var(--realyDarkPurple);
  padding: 0.5em;
  border-radius: 50%;
}

.bingoContainer {
  background-color: var(--realyDarkPurple);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 95vw;
  /* height: fit-content; */
  /* max-height: 70vh; */
  /* min-height: 50vh; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30vh;
  padding: 0.2em;
}

.bingoSqure {
  background-color: white;
  text-align: center;
  padding: 0.2em;
  padding-top: 0.4em;
  margin: 0.1em;
  font-family: check;
  min-height: 17vw;
}

.title {
  color: white;
  display: flex;
  font-size: 5em;
  font-family: GABRWFFR;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 9vh;
}

.title img {
  width: 5vw;
}

.randomEpisodeContainer {
  color: white;
  font-family: GABRWFFR;
  position: absolute;
  font-size: 1.2em;
  left: 50%;
  transform: translateX(-50%);
  top: 4vh;
  width: 70%;
  text-align: center;
}

.darkScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.restartButton {
  width: 17.5vw;
  height: 10vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--realyDarkPurple);
  border: 0.4em solid var(--lightPurple);
  padding: 0.5em;
  border-radius: 50%;
}

.restartButtonPic {
  width: 11vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.titleWin {
  top: 20vh;
  font-size: 4em;
}
/* confetti */
html,
body {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 4rem;
    text-shadow: 0 0 10px;
}
